.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-radius: 4em;
    overflow: hidden;
    gap: 1.5em;
    min-width: 400px;
    max-width: 20vw;

}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.button {
    color: white;
    width: 100%;
    border-radius: 0.5em;
    background-color: #ff4500;
    padding: 1em 2em;
    transition: all 0.1s ease-in-out;
}

.button:hover,
.button:focus {
    transform: scale(1.02);
    background-color: #e03c00;
}

.button:disabled {
    background: lightgray;
    transform: scale(1);
    cursor: not-allowed;
}

.input_group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    height: 1.5rem;
}

.error {
    color: red;
}