.spotDetail {
    margin: 0 auto;
    max-width: 1000px;
    max-height: 100vh;
    overflow: hidden;
}

.spotDetailInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 2px solid darkgrey;
    padding-bottom: 20px;
}

.spotDescription {
    font-size: 15pt;
    text-align: left;
}

.hostInfo {
    margin-bottom: 10px;
}

.spotImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    overflow: hidden;
}

.spotName {
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.6em;
}

.locationInfo {
    margin-bottom: 1em;
    font-size: 1em;
}

.spotInfo {
    margin-bottom: 1em;
}

.divider {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.calloutInfo {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    height: 150px;
    padding: 25px;
    border-radius: 10px;
    margin-right: 10px;
}

.reserveButton {
    width: 100%;
    margin-top: 10px;
    background-color: #69E0E8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
}

.reserveButton:hover {
    background-color: #50b3b9;
}

.reviewButton {
    background-color: #69E0E8;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.reviewButton:hover {
    background-color: #50b3b9;
}

.deleteReviewBtn {
    background-color: #ff4500;
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}

.deleteReviewBtn:hover {
    background-color: #e03c00;
    cursor: pointer;
}


.calloutPrice {
    font-size: 1.5em;
    font-weight: bold;
}

.calloutRating {
    display: flex;
    align-items: center;
}

.starIcon {
    color: #ffd700;
    margin-right: 5px;
}

.mainImage,
.mainImageHalf {
    grid-column: 1;
    width: 100%;
    height: 100%;
}

.mainImageHalf {
    width: 50%;
    /* Only 50% width for a single image */
    justify-self: start;
}

.nestedGrid {
    width: 100%;
    height: auto;
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    overflow: hidden;
}

.spotTitle {
    width: 55%;
}

.spotHeading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.spotImages img {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 660px;
    object-fit: cover;
}

.spotImages.singleImage .mainImageHalf {
    grid-column: 1 / -1;
    /* Takes full row but only fills 50% width */
    display: flex;
    justify-content: center;
    align-items: center;
}

.spotImages.singleImage .nestedGrid {
    display: none;
}

.review {
    margin: 20px 20px 0 0;
}

.reviewBody {
    text-align: left;
}

.reviewRating {
    display: flex;
    align-items: center;
}

.reviewUser {
    font-weight: bold;
}

.reviewDate {
    font-weight: 500;
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
}